/* Master Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

h2, h3, table {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
  max-width : 600px;
  margin : auto;
}


.heading
{
  max-width : 600px;
  margin : auto;
  padding : 20px;
  background-color : #369;
  color : white;
  text-align : center;
}
